<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<h2>Add Person</h2>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName">Enter full name:    </label>
    <input type="text" th:field="*{fullName}" id = "fullName"/>
    <div style="color:darkred" th:if =  "${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name errors</div>
<br/>
        <label for="yearOfBirth">Enter Year Of Birth:</label>
        <input type="number" th:field="*{yearOfBirth}" id = "yearOfBirth"/>
    <div style="color:darkred" th:if ="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year errors</div>
    <br/>
        <input type="submit" value="Create!"/>

</form>



</body>
</html>
